

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    /*padding: 10;*/
   
    
}
.cards .card:hover{
    background-color: rgb(156, 26, 26);
    color: black;
}
.cards .card{
    background: rgba(26, 24, 27, 0.7);
    display: flex;
    width: 46%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
    
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
@media screen and (max-width:900px){
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px){
    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }
}
